html {
    box-sizing: border-box;
}
*, *:after {
    box-sizing: inherit;
}

/* Globales */
a{
    text-decoration: none;
    color: black;
}

/* recomendable para usar en todas las imagenes hara que cubra el 100 % */
img {
    max-width: 100%;
}

.contenedor {
    max-width: 1200px;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    margin: 0 auto 0 auto;
    /* margin-inline: auto; algunos usan esto y es lo mismo es una propiedad nueva*/

}

/* Header y navegacion */
.nombre-sitio {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.nav-principal{
    /* border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px; */
    /* en vez de usar las 3 lineas podemos usae una sola linea, es igual para marging y padding*/
    padding: 20px 0;
    padding-top: 10px;
    /*Con este display flex accedemos a varias propiedades y con ello aplicamos el flexBos a un grupo de elementos  */
    display: flex;
    /* no es necesario declarar row ya que se aplica por defecto */
    flex-direction: row;
    justify-content: space-between;

}


.hero {
    /* Cuando agregamos una imagen en css para agregar una debemos de salirnos al folder principal con los 2 puntos .. */
    background-image: url(../img/principal.jpg);
    /* Para que no se repita la imagen */
    background-repeat: no-repeat;
    /* Para que cubra la imagen a corde de la pantalla y no quede chica o grande */
    background-size: cover;
    height: 550px;
}

/* Categorias  */

.listado-categorias {
    display: grid;
    /* se puede usar repeat(cuantas veces, de que tamañp) */
    /* grid-template-columns: 300px 300px 300px 300px; */
    /* grid-template-columns: repeat(4,300px); */
    /* Indica 3 de 1 fr */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 300px 300px; */
    /* grid-template-rows: 1fr 1fr; fila*/
    /* height: 300px; altura */
    /* gap es la separacion se puede hacer por columna o fila o ambos solo usando gap */
    gap: 20px;
}



/* box model */
/* .sobre-nosotros {
    background-color: red;
    width: 200px;
    padding es el espacio creado entre el contenido de un elemento y su borde 
    padding: 25px;
    border-box hace que se respete el ancho del width ya que al usar un padding cambia el tamaño 
    box-sizing: border-box; 
} */