html {
    /* se usa para que no modifique un tamaño de un elemento al usar margin o width */
    box-sizing: border-box;
    /* Usando esta linea un rem = 10px  */
    font-size: 62.5%; 
}

/* parte del box-sizing tambien para todos los proyectos */
*, *:after {
    box-sizing: inherit;
}

/* se aplica en el body porque es el que contiene todo */
body {
    font-family: "Raleway", sans-serif;
    /* usamos esta para que la base sea de 16px */
    font-size: 1.6rem;
    /* interlineado para los proyectos */
    line-height: 1.5;
}

/* de aqui hacia arriba es recomendable para todos los proyectos */

/* Globales son elementos que aplican a todo el proyecto */
h1, h2, h3 {
    font-family: "Playfair", serif;
    /* todos los headring usan margenes y lo eliminamos de la siguiente manera */
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 3rem;
}


a{
    text-decoration: none;
    color: black;
}

/* recomendable para usar en todas las imagenes hara que cubra el 100 % */
img {
    max-width: 100%;
/* Tambien ayuda a eliminar espacios ya sea entre la imagen y la ancla */
    display: block; 
}

.contenedor {
    max-width: 120rem;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    margin: 0 auto 0 auto;
    /* margin-inline: auto; algunos usan esto y es lo mismo es una propiedad nueva*/

}


.btn {
    background-color: #8cbc00;
    /* hace que un elemento tome todo el ancho  */
    display: block;
    color: #fff;
    text-transform: uppercase;
    /* debemos de usar el ancho que soporta la fuente en este caso la fuente si lo soporta */
    font-weight: 900;
    padding: 1rem;
    /* transición  */
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: #769c02;
}



/* utilidades se pueden usar en muchos elementos */
.text-center {
    text-align: center;
}

/* Header y navegacion */
.nombre-sitio {
    margin-top: 5rem;
    /* margin-bottom: 5rem; ya esta en los h1,h2 y h3 */
    text-align: center;
   
}
.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: .1rem solid #e1e1e1;
}

.nav-principal{
    /* border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px; */
    /* en vez de usar las 3 lineas podemos usae una sola linea, es igual para marging y padding*/
    padding: 2rem 0;
    /* padding-top: 10px; */
    /*Con este display flex accedemos a varias propiedades y con ello aplicamos el flexBos a un grupo de elementos  */
    display: flex;
    /* no es necesario declarar row ya que se aplica por defecto */
    /* flex-direction: row; */
    justify-content: space-between;

}


.hero {
    /* Cuando agregamos una imagen en css para agregar una debemos de salirnos al folder principal con los 2 puntos .. */
    background-image: url(../img/principal.jpg);
    /* Para que no se repita la imagen */
    background-repeat: no-repeat;
    /* Para que cubra la imagen a corde de la pantalla y no quede chica o grande */
    background-size: cover;
    /* para seleccionar que seccion del bakground debe de tomar */
    background-position: center center;
    height: 55rem;
}

/* Categorias  */
.categorias {
    padding-top: 5rem;
}

.categorias h2{
    text-align: center;
}

.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

/* pseudo elementos */
.categoria a:hover{
    background-color: #6595b1;
    color: #fff;
    /* esquinas rdondeadas */
    border-bottom-right-radius: 1rem;
}

.listado-categorias {
    display: grid;
    /* se puede usar repeat(cuantas veces, de que tamañp) */
    /* grid-template-columns: 300px 300px 300px 300px; */
    /* grid-template-columns: repeat(4,300px); */
    /* Indica 3 de 1 fr */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 300px 300px; */
    /* grid-template-rows: 1fr 1fr; fila*/
    /* height: 300px; altura */
    /* gap es la separacion se puede hacer por columna o fila o ambos solo usando gap */
    gap: 2rem;
}


/* Bloque nosotros */
.sobre-nosotros {
    /* linear gradient es un degradador lineal que se usa con bgimg, to right que hacia la izq, del 0 al 50 negro y del 51 hacia adelante rojo */
    /* background-image: linear-gradient(to right, black 50%, red 100%); */
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%),url(../img/nosotros.jpg);
    background-position: left center;
    padding: 8rem 0;
    background-repeat: no-repeat;
    /* al usar la , usamos el 100% para linear gradien y despues 120 rem para la imagen */
    background-size: 100%, 120rem;
}

/* .sobre-nosotros-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* con grip no usas padding usas gap 
    column-gap: 8rem;
}

.texto-nosotros {
    indica que valla de la linea 2 a l 3 
    grid-column: 2/3;
} */

.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros {
/* Ancho del elemento flex-basis */
    flex-basis: 50%;
    padding-left: 10rem;
    color: #fff;
}



/* Listado de productos */
.contenido-principal {
    padding-top: 5rem;
}
.listado-productos {
    display: grid;
    /* damos la misma forma a cada uno de los productos y despues los vamos editando uno por uno */
    grid-template-columns: repeat(6, 1fr);
    /* Tambien se puede usar solo gap y se aplica a row y colunm  */
    column-gap: 2rem;
    row-gap: 2rem;
}

/* ntn selecciono un producto en esta aso el 1 */
.producto:nth-child(1) {
    /* tambien se puede usar grid-colunm-start y grid-colunm-end para indicar donde inicia y donde termina */
    grid-column: 1/7;
    /* Puedo usar un grid dentro de otro, lo usamos para crear dos bloques uno para la imagen y el otro para el contenido */
    display: grid;
    grid-template-columns: 3fr 1fr;
}
/* limitamos a la imagen 1 */
.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    /* mantiene un elemento dentro de las medidad declradas */
    object-fit: cover;
}


.producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img {
    /* height y width son obligatorios para usar object-fit */
    height: 30rem;
    width: 100%;
    /* mantiene un elemento dentro de las medidad declradas */
    object-fit: cover;
}

.producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
}

/*
    Si queremos ahorar lineas este mismo fragmento lo podemos agregar el dos solo separado por una coma, 
.producto:nth-child(3) img {
    height y width son obligatorios para usar object-fit
    height: 30rem;
    width: 100%;
    object-fit: cover;
} */

.producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
}
.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 .5rem 0;
}
.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}



/* Footer */
.side-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.grid-footer h3 {
    margin-bottom: .5rem;
}
/* usando grid */
.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


.footer-menu a{
    display: block;
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}




/* -------------uSANDO FLEX----------------- */
/* .grid-footer {
    display: flex;
    gap: 2rem;
} */

/* .grid-footer div {
    flex 1 es el factor de crcimiento que tendra un div donde cada div recive un pixel 
    usando nth-child() seleccionamos el div deseado y podemos modificar el espacio que abarcara 
    flex: 1;

} */




/*---------------- box model ----------------------*/
/* .sobre-nosotros {
    background-color: red;
    width: 200px;
    padding es el espacio creado entre el contenido de un elemento y su borde 
    padding: 25px;
    border-box hace que se respete el ancho del width ya que al usar un padding cambia el tamaño 
    box-sizing: border-box; 
} */